<div class="card">
    <div class = "card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque aut beatae blanditiis commodi culpa debitis dolorum earum error excepturi, expedita, inventore itaque iure molestias officiis perspiciatis porro quidem recusandae repellendus rerum sapiente temporibus veniam vitae, voluptatibus voluptatum! Aliquam, dolorem.</p>

    </div>

</div>
